/* index.css */
@import url('https://fonts.googleapis.com/css2?family=YourFontName:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'YourFontName', sans-serif; /* Certifique-se de usar a fonte correta */
  overflow-x: auto; /* Adiciona isso para garantir que não haja rolagem horizontal */
  overflow-y: auto; /* Adiciona isso para garantir que não haja rolagem vertical desnecessária */
}

/* Utilizando Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Adicione seu estilo personalizado aqui */
